<div class="row">
  <div class="container">
    <div class="col-md-6 mx-auto">
      <div class="sidebar-menu">
        <form [formGroup]="userForm" (ngSubmit)="submit()">
          <div class="f-title">
            <span class="title">Восстановление пароля</span>
          </div>
          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                                   aria-hidden="true"></i></span>
                <input type="email" name="userName" formControlName="userName" placeholder="Введите почтовый адрес"
                       class="form-control"/>
              </div>
            </div>
          </div>
          <div class="form-group">
          <span class="block-clickable">
            <button id="btn-register" type="submit" class="btn btn-standart float-right">Восстановить пароль</button>
          </span>
          </div>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['../registry']">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">На главную</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>


