<div class="row">
  <div class="container">
    <div class="col-md-6 mx-auto">
      <div class="sidebar-menu">
        <form [formGroup]="userForm" (ngSubmit)="submit()">
          <div class="f-title">
            <span class="title">Изменение пароля</span>
          </div>


          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                   aria-hidden="true"></i></span>
                <input type="password" path="password" formControlName="password" placeholder="Новый пароль"
                       class="form-control"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                   aria-hidden="true"></i></span>
                <input type="password" path="confirmPassword" formControlName="confirmPassword"
                       placeholder="Повторите новый пароль"
                       class="form-control"/>
              </div>
            </div>
          </div>
          <input type="hidden" formControlName="guid" value="{{sendForm.guid}}"/>
          <!--<input name="token"value="{{guid}}"/>-->
          <div class="form-group">
          <span class="block-clickable">
            <button id="btn-register" type="submit" class="btn btn-standart float-right">Сохранить новый пароль</button>
          </span>
          </div>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['../registry']">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">На главную</a>
            </li>
          </ul>


        </form>
      </div>
    </div>
  </div>
</div>




