@media screen and (min-width: 801px) {
  .dropdown-menu {
    width: 250px;
  }

  .dropdown-menu .btn-info, .dropdown-menu .btn-danger {
    width: 117px;
  }
}

.table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

.actions .btn-group .btn-sm {
  height: auto;
}

table#cart .row img {
  height: 75px;
}

table#cart .row .desc > p{
 display: inline;
}

.actions .btn-link {
  height: 30px;
}

.block-clickable {
  height: 50px;
}

.btn-standart {
  height: 65px;
}

.btn-fix-size {
  width: 150px;
}

.modal-content {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  position: relative;
  margin: auto;
  width: 95%;
}

.container-modal {
  border-radius: 3px;
  padding: 1.5rem 0;
  border: 1px solid #b3d7ff;
  background: rgba(255, 255, 255, .95);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal-content {
    width: 85%;
  }
}

@media screen and (min-width: 1600px) {
  .modal-content {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  table#cart tbody td .form-control {
    width: 25%;
    display: inline-block;
  }

  .dropdown-menu {
    width: 125px;
    min-width: 125px;
  }

  .actions .btn-group {
    width: 100%;
  }

  .actions .btn-group > .btn {
    width: 50%;
  }

  table#cart thead {
    display: none;
  }

  table#cart tbody td {
    display: block;
    padding: .6rem;
  }

  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }

  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }

  table#cart tfoot td {
    display: block;
  }

  table#cart tfoot td .btn {
    width: 100%;
  }

  table#cart .row {
    text-align: center;
  }

  table#cart .product {
    vertical-align: center;
  }
}
