.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.container_usr {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

span.price {
  float: right;
  color: grey;
}

.note > label {
  font-size: 14px;
  margin-bottom: -8px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 992px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-lg-4 {
    margin-bottom: 20px;
  }
}

.form-group {
  padding: 10px;
}

.form-group-usr {
  padding-top: 20px;
}

.delivery {
  padding-left: 50px;
}

.product-img {
  height: 35px;
  width: 35px;
}

a:hover {
  text-decoration: none
}

input.ng-touched.ng-invalid {
  border: solid red 1px;
}

input.ng-touched.ng-valid {
  border: solid green 1px;
}
